baseURL = 'https://karthikeykadati.com/'
languageCode = 'en-us'
title = 'Karthikey Kadati'
theme = []

[params]
  description = "Linux Kernel Contributor | RTEMS Developer"
  author = "Karthikey Kadati"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 2



  [[menu.main]]
    identifier = "contact"
    name = "Contact"
    url = "/contact/"
    weight = 5

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 3

  [[menu.main]]
    identifier = "work"
    name = "Work"
    url = "/work/"
    weight = 4
