baseURL = 'https://karthikey1.github.io/my-cv/'
languageCode = 'en-us'
title = 'Karthikey Kadati'
theme = []

[params]
  description = "Linux Kernel Contributor | RTEMS Developer"
  author = "Karthikey Kadati"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

relativeURLs = true
canonifyURLs = true
[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 2



  [[menu.main]]
    identifier = "contact"
    name = "Contact"
    url = "/contact/"
    weight = 4
